/**
 * Site header
 */
.site-header {
  width: 100%;
  height: 180px;
  position: relative;
  background: url($background-image);
  background-size: 100%;
  background-position: center 180px;
  background-attachment: fixed;
  -webkit-filter: brightness(125%);

  @include media-query($on-laptop) {
    background-size: auto 180px;
  }
}

.site-title {
  display: block;
  margin-bottom: 0;
  text-align: center;

  &,
  &:visited {
    color: $grey-color-dark;
  }

  &:hover {
    color: $text-color;
  }

  > h1 {
    margin: 0;
    font-variant: small-caps;
    font-size: 64px;
    font-weight: 400;
  }

  @include media-query($on-mobile) {
    > h1 {
      font-size: 48px;
    }
  }
}

.site-nav {
  border-top: 3px solid $grey-color-dark;
  font-family: $headline-font-family;
  font-variant: small-caps;
  text-align: center;
  line-height: 56px;

  .wrapper {
    border-bottom: 2px solid $grey-color-dark;
  }

  .page-link {
    color: $text-color;
    font-size: $nav-font-size;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 30px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
  background: $grey-color-dark;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color-light;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(25% - (#{$spacing-unit} / 2));
    width:         calc(25% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

.social-media-list {
  a {
    text-decoration: none;
  }

  a:hover {
    .username {
      text-decoration: underline;
    }
  }
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
  padding: 1.5 * $spacing-unit 0;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
      &:not(:last-child) {
        margin-bottom: $spacing-unit * 1.5;
      }
    }
}

.meta-wrap {
  display: inline-block;
  width: 85%;
  vertical-align: middle;
}

.post-meta {
    font-size: $base-font-size;
    color: $grey-color;
}



/**
 * Posts
 */
.post-header, .bio-header {
  margin-bottom: $spacing-unit;

  @include media-query($on-laptop) {
    text-align: center;

    .headshot {
      margin: 0 0 $spacing-unit/2 0;
    }

    .meta-wrap {
      width: 100%;
    }
  }
}

.bio-header {
  margin: $spacing-unit 0 $spacing-unit/2 0;
}

.headshot {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border: 1.5px solid $grey-color-dark;
  border-radius: 40px;
  vertical-align: middle;
}

.post-title, .bio-title {
  margin: 0;
  line-height: 1;
}

.post-title {
  font-size: 38px;
  letter-spacing: -0.5px;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 30px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}



/**
 * Pages
 */
#mantra {
  text-align: center;
}
